*{
	box-sizing: border-box;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #262626;
	color: rgba(255,255,255,.72);
	font-family: 楷体;
}

h1,
h2,
nav{
	color: #ffcc66;
}

nav{
	font-size: 1.6em;
}

.container {
	max-width: 960px;
}

label {
	position: absolute;
	right: 22px;
	top: 28px;
}

#search-input {
	width: 200px;
    color: black;
    margin-top: 24px;
}

.yoFont {
	font-weight: bold;
    font-size: 1.0em;
}

span {
	font-weight: bold;
	font-size: 1.5em;
}

.dropdown button{
    background-color: #ffcc66;
}

.modal-body {
    color: black;
}

.fa {
 	color:black;
}

.yoIcons {
    margin-top: 20px;
}
